/*  your css code here. If applicable */
#yellow{
	background-color:yellow;
	border-top:solid green;
	border-bottom:solid green;
	border-left:solid green;
	bottom-rigth:solid green;
		border-width:3px;
}
#red{
	background-color:red;
	border-top:solid black;
	border-bottom:solid black;
	border-left:solid black;
	bottom-rigth:solid black;
		border-width:3px;
}
#green{
	background-color:green;
	border-top:solid yellow;
	border-bottom:solid yellow;
	border-left:solid yellow;
	bottom-rigth:solid yellow;
		border-width:3px;
}